<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Iron Bar</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">

    <!-- templates -->
    <script type="text/html" id = "menuItemTmpl">
      <div class="menuItem" id="<%=id%>">
        <h3><%=name%></h3>
        <p>
          <%=price%>
        </p>
        <span class="glyphicon glyphicon-pencil admin" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-trash admin" aria-hidden="true"></span>
        <form id="editID<%=id%>" class="editForm hidden">
          <div class="form-group">
            <label for="itemName">Name</label>
            <input type="text" class="form-control itemName" value="<%=name%>">
          </div>
          <div class="form-group">
            <label for="itemPrice">Price</label>
            <input type="text" class="form-control itemPrice" value="<%=price%>">
          </div>
          <div class="checkbox" <%= glutenFree ?  "checked" : '' %>>
            <label>
              <input type="checkbox" class="itemGF"> Gluten Free

            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemVeg" <%= vegetarian ?  "checked" : '' %>> Vegetarian
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemBreakfast" <%= breakfast ?  "checked" : '' %>> Breakfast
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemLunch" <%= lunch ?  "checked" : '' %>> Lunch
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemDinner" <%= dinner ?  "checked" : '' %>> Dinner
            </label>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle itemType" id = "itemType<%=id%>" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

              <span class="selection">
                 <% if (type==="app"){%>
                   Appetizer
                 <%} else if (type==="entree") {%>
                   Entree
                 <%} else if (type==="dessert") {%>
                   Dessert
                 <%} else if (type==="drink") {%>
                   Drink
                 <%}%>
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="itemType<%=id%>">
              <li><a data-value="app">Appetizer</a></li>
              <li><a data-value="drink">Drink</a></li>
              <li><a data-value="entree">Entree</a></li>
              <li><a data-value="dessert">Dessert</a></li>
            </ul>
          </div>
          <button type="submit" class="btn btn-default add-item-containersubmit">Submit</button>
        </form>
      </div>

    </script>

  </head>

  <body>
    <header>
      <h1>The Iron Bar Menu</h1>

      <span class="glyphicon glyphicon-plus admin" aria-hidden="true">Add Menu Item</span>
      <div class="add-item-container hidden">
        <form id="addItem" class="addForm">
          <div class="form-group">
            <label for="itemName">Name</label>
            <input type="text" class="form-control itemName" >
          </div>
          <div class="form-group">
            <label for="itemPrice">Price</label>
            <input type="text" class="form-control itemPrice">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemGF"> Gluten Free

            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemVeg"> Vegetarian
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemBreakfast"> Breakfast
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemLunch"> Lunch
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="itemDinner"> Dinner
            </label>
          </div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle itemType" id = "itemType" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

              <span class="selection">
                 course
              </span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="itemType">
              <li><a data-value="app">Appetizer</a></li>
              <li><a data-value="drink">Drink</a></li>
              <li><a data-value="entree">Entree</a></li>
              <li><a data-value="dessert">Dessert</a></li>
            </ul>
          </div>
          <button type="submit" class="btn btn-default add-item-containersubmit">Submit</button>
        </form>
      </div>
    </header>
    <div class="container-fluid">
      <aside class="filters col-md-3">
        <h3>Narrow Your Choices</h3>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="filterMenuMeal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Meal
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterMenuMeal">
            <li><a href="#">Breakfast</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="filterMenuType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Course
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterMenuType">
            <li><a href="#">Appetizers</a></li>
            <li><a href="#">Entrees</a></li>
            <li><a href="#">Desserts</a></li>
            <li><a href="#">Drinks</a></li>
          </ul>
        </div>
        <div class="checkbox id=filterGlutenFree">
          <label>
            <input type="checkbox"> Gluten Free
          </label>
        </div>
        <div class="checkbox id=filterVegetarian">
          <label>
            <input type="checkbox"> Vegetarian
          </label>
        </div>
      </aside>
      <div class="menu col-md-9">

      </div>
    </div>
    <footer>
      <h3>Copyright 2015 The Iron Bar</h3>
    </footer>

    <!-- bower components -->
    <script src="./bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="./bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
    <!-- app files -->
    <script src="display.js" charset="utf-8"></script>
    <script src="edit.js" charset="utf-8"></script>
    <script src="delete.js" charset="utf-8"></script>
    <script src="add.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>

  </body>
</html>
