/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

$lightGray: #dcdcdd; //rgba(220, 220, 221, 100)
$mediumGray: #c5c3c6; //rgba(197, 195, 198, 100)
$darkGray: #46494c; //rgba(70, 73, 76, 100)
$grayBlue: #4c5c68; //rgba(76, 92, 104, 100)
$teal: #1985a1; //rgba(25, 133, 161, 100)
