/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */
html {
  margin: 0;
  padding: 0; }

.filters {
  background-color: #4c5c68;
  color: #dcdcdd; }

header, footer {
  background-color: #4c5c68;
  color: #dcdcdd;
  text-align: center;
  padding: 10px; }

h1 {
  padding: 0;
  margin: 0; }
