/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.filters {
  background-color: #c5c3c6;
  color: #46494c; }

header, footer {
  background-color: #4c5c68;
  color: #dcdcdd;
  text-align: center;
  padding: 10px;
  min-height: 10%; }

.container-fluid {
  min-height: 80%;
  padding-left: 0; }

h1 {
  padding: 0;
  margin: 0; }
