@import "palette";

html, body{
  margin:0;
  padding:0;
  height: 100%;
}

.filters{
  background-color: $mediumGray;
  color: $darkGray;
}

header, footer{
  background-color: $grayBlue;
  color: $lightGray;
  text-align: center;
  padding:10px;
  min-height: 10%;
}
.container-fluid{
  min-height: 80%;
  padding-left: 0;
}


h1{
  padding:0;
  margin:0;
}
